{lib_dirs,["/usr/local/Cellar/elixir/1.6.6/lib",
           "/Users/richardschmidt/Code/Elixir/todo/_build/prod"]}.

{release,{todo,"0.1.0"},[{todo,"0.1.0"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.1.0"},
          {copy,"./sys.config","releases/0.1.0/sys.config"},
          {copy,"./boot","bin/todo"},
          {copy,"/Users/richardschmidt/Code/Elixir/todo/_build/prod/consolidated",
                "lib/consolidated"}]}.

